<!-- creating a footer -->

<div id="footer" class="col-sm-12 col-md-12 col-lg-12">
    <footer class="footer text-black-50 bg-transparent col-sm-12 col-md-12 col-lg-12">
        <div class="row my-4">
            <div class="col">
                <div class="card bg-transparent border-0">
                    <h4 class="card-title mx-3 my-5 lead words border-0">Contact Us</h4>
                    <p id="p" class="mx-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio assumenda iure eveniet officiis in distinctio accusamus at error, dolores perferendis expedita officia a quod tempora voluptatibus, ducimus numquam consequuntur consequatur!</p>
                </div>
                
            </div>
        
            <div class="col">
                <div class="card bg-transparent border-0">
                    <h4 class="card-title mx-3 my-5 lead words">About Us</h4>
                    <p id="p" class="mx-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio assumenda iure eveniet officiis in distinctio accusamus at error, dolores perferendis expedita officia a quod tempora voluptatibus, ducimus numquam consequuntur consequatur!</p>
                </div>
        
            </div>
            <div class="col-12">
                <div class="card bg-transparent border-0">
                    
                    <!-- <p class="lead mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel perferendis reiciendis dolorum similique, incidunt saepe quia nostrum consequatur autem nobis doloribus cupiditate, magni harum, fugit hic distinctio et dignissimos consectetur.</p>
                 -->
                    <div class="row">
                        <div class="col">
                            <div class="card bg-transparent border-0">
                                <h4 class="card-title mx-3 my-5 lead words" id="headings">Our Team</h4>
                            
                            </div>
                    
                        </div>
                        <div class="col">
                            <div class="card bg-transparent border-0">
                                <h4 class="card-title mx-3 my-5 lead words headings" id="headings">Our Mission</h4>
                            
                            </div>
                    
                        </div>
                        <div class="col">
                            <div class="card bg-transparent border-0">
                                <h4 class="card-title mx-3 my-5 lead words headings" id="headings">Our Vision</h4>
                            
                            </div>
                    
                        </div>
                        
                    </div>
                        
                        
                </div>
        
            </div>
        
        
    
        </div>           
        
            
            
                
            
            
    </footer>
    
</div>
