

    <ol>
        <span class="list-group-item"><li id= "Q1" >When logging in, do you use your... </li> </span>
        <ol type="a">
        <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q1-answer">Username</li> </span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q1-answer">Email Address</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q1-answer">Stuff number</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q1-answer">All of the options</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q1-answer"> None of the above</li></span>
             
        </ol>
        <span class="list-group-item"><li id= "Q2" >If you have an issue in logging in... </li> </span>
        <ol type="a">
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q2-answer">All of the options</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q2-answer">Exit the page</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q2-answer">Click the 'Report an issue' link below</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q2-answer">Restart your phone</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q2-answer"> Do nothing</li></span>
             
        </ol>
        <span class="list-group-item"><li id= "Q3">When reporting an issue, do you... </li> </span>
        <ol type="a">
        <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q3-answer">Insert your personal email address</li> </span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q3-answer">Insert your email address (same as the one used when logging into your App)</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q3-answer">Insert your phone number</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q3-answer">Insert your stuff number</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q3-answer"> None of the above</li></span>
             
        </ol>
        <span class="list-group-item"><li id= "Q4" >When reporting an issue! Select your issue for example, you cannot log into the app and then...</li> </span>
        <ol type="a">
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q4-answer">Add your comment as to why you cannot log in</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q4-answer">Log the issue without adding comments</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q4-answer">Send your comments to your manager's email</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q4-answer">Call the manager</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q4-answer"> All of the options</li></span>
             
        </ol>
        <span class="list-group-item"><li id= "Q5" >In the home screen, the Menu Bar is.. </li> </span>
        <ol type="a">
        <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q5-answer">On the top right corner</li> </span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q5-answer">On the top left corner</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q5-answer">There is no Menu Bar</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q5-answer">In the middle</li></span>
            <span class="list-group-item list-group-item-action btn-outline-info"><li id= "Q5-answer"> None of the above</li></span>
             
        </ol>
        
    </ol>
    



