<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
    <!-- <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/footer.css">
    <link rel="stylesheet" href="/public/bootstrap/css/styling.css">
   
    <!-- <link rel="stylesheet" href="/public/bootstrap/css/modal.css">
     -->
    <title>Document</title>
<style>
.signing-up{
    color: white;
}
.modal{
    color: black;
}
</style>
</head>
<body class="img-fluid">
    <%- body  %>
 
</body>
</html>